<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myspacevendor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySpace2"
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.RegistrationActivity" />
        <activity android:name=".ui.DashboardActivity" />
        <activity android:name=".ui.OffersDealsActivity" />
        <activity android:name=".ui.ShopInfoActivity" />
        <activity android:name=".ui.MslotActivity" />
        <activity android:name=".ui.AdminDashActivity" />
        <activity android:name=".ui.ScanTokenActivity"/>
        <activity android:name=".ui.SacnnerView"/>
        <activity android:name=".ui.ShopListActivity"/>
        <activity android:name=".ui.AdminShopListActivity"/>
        <activity android:name=".ui.VendorListActivity"/>
        <activity android:name=".ui.PaymentActivity"/>

        <activity
            android:name=".ui.TermsPoliciesActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <activity android:name=".ui.ViewShopActivity" />
    </application>

</manifest>